{% extends "buh/layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/dx/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="/static/dx/css/dx.light.css" />

    <script type="text/javascript" src="/static/dx/js/cldr.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/cldr/event.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/cldr/supplemental.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/cldr/unresolved.min.js"></script>

    <script type="text/javascript" src="/static/dx/js/globalize.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/message.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/number.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/currency.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/date.js"></script>

    <script type="text/javascript" src="/static/dx/js/dx.all.js"></script>
    <script type="text/javascript" src="/static/dx/js/localization/dx.messages.ru.js"></script>
    
    <script type="text/javascript" src="/static/index.js"></script>
    <script type="text/javascript" src="/static/dx_datasources.js"></script>
{% endblock head %}

{% block content %}
    <h1>Приход/Расход</h1>
    <table class="table table-striped" id="gridContainer">
    </table>
    <script>
        $(function(){
            $("#gridContainer").dxDataGrid({
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                headerFilter: {
                    visible: true
                },
                sorting: {
                    mode: "multiple"
                },
                editing: {
                    mode: "form",
                    allowAdding: true
                }, 
                remoteOperations: {
                    paging: true,
                    sorting: true,
                    filtering: true
                },
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20, 100],
                    showInfo: true
                },
                dataSource: mainBoardDatasource,
                columns: [
                    {
                        dataField: "op_date",
                        dataType: "date",
                        caption: "Дата",
                        format:"shortDate"
                    },
                    {
                        dataField: "partner",
                        caption: "Контрагент",
                        lookup: {
                            dataSource: partners.store(),
                            displayExpr: "name",
                            valueExpr: "id"
                        },
                        allowSorting: false
                    },
                    {
                        dataField: "op_balance",
                        dataType: "number",
                        format: {
                            type: "fixedPoint ",
                            precision: 2,
                        },
                        caption: "Сумма, ₽"
                    }, 
                    {
                        dataField: "op_expend",
                        caption: "Статья",
                        lookup: {
                            dataSource: expendids.store(),
                            displayExpr: "name",
                            valueExpr: "id"
                        },
                        allowSorting: false
                    },
                    {
                        dataField: "op_type",
                        caption: "Вид",
                        lookup: {
                            dataSource: op_types,
                            displayExpr: "name",
                            valueExpr: "id"
                        }
                    },
                    {
                        dataField: "note",
                        caption: "Примечание"
                    }
                ],
                stateStoring: {
                    enabled: false,
                    type: "localStorage",
                    storageKey: "mainBoardGridSettings"
                },
            });
        });
    </script>
{% endblock content %}