{% extends "buh/layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/dx/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="/static/dx/css/dx.light.css" />
    <script type="text/javascript" src="/static/dx/js/cldr.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/cldr/event.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/cldr/supplemental.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/cldr/unresolved.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/message.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/number.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/currency.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/date.js"></script>

    <script type="text/javascript" src="/static/dx/js/dx.all.js"></script>
    <script type="text/javascript" src="/static/dx/js/localization/dx.messages.ru.js"></script>
    
    <script type="text/javascript" src="/static/index.js" >
    </script>
    <script>
        // $(function(){
        //     $("#gridContainer").dxDataGrid({
        //         showRowLines: true,
        //         rowAlternationEnabled: true,
        //         showBorders: true,

        //         dataSource: "http://127.0.0.1:9000/API/REST/ONLINE_RECORDS",
        //         columns: [
        //             {
        //                 dataField: "date",
        //                 dataType: "date",
        //                 caption: "Дата",
        //                 format:"shortDateShortTime"
        //             },
        //             {
        //                 dataField: "provider",
        //                 caption: "ПС/Банк"
        //             },
        //             {
        //                 dataField: "amount",
        //                 dataType: "number",
        //                 format: {
        //                     type: "fixedPoint ",
        //                     precision: 2,
        //                 },
        //                 caption: "Сумма, ₽"
        //             }, 
        //             {
        //                 dataField: "account",
        //                 caption: "Договор"
        //             },
        //             {
        //                 dataField: "acc_city",
        //                 caption: "Город"
        //             },
        //             {
        //                 dataField: "invoice",
        //                 caption: "Номер платежа"
        //             },
        //             {
        //                 dataField: "state",
        //                 caption: "Состояние платежа"
        //             },
        //         ]
        //     });
        // });
        $(function(){
            op_types = [
                {"name": "Expendid", "id": "OUT"},
                {"name":"Income", "id": "IN"}
            ]
            partners = new DevExpress.data.DataSource({
                load: function (loadOptions) {
                    var d = $.Deferred();
                    $.getJSON('/buh/api/partners')
                        .done(function (result) {
                            // Das ist einen pizdetsen...
                            d.resolve($.map(result, function(e, i){
                                return Object.assign({"pk": e.pk}, e.fields)
                            }));
                        });
                    return d.promise();
                }
            });
            expendids = new DevExpress.data.DataSource({
                load: function (loadOptions) {
                    var d = $.Deferred();
                    $.getJSON('/buh/api/expendids')
                        .done(function (result) {
                            // Das ist einen pizdetsen...
                            d.resolve($.map(result, function(e, i){
                                return Object.assign({"pk": e.pk}, e.fields)
                            }));
                        });
                    return d.promise();
                }
            });
            gridDataSource = new DevExpress.data.DataSource({
                load: function (loadOptions) {
                    var d = $.Deferred();
                    $.getJSON('/buh/api/mainboard')
                        .done(function (result) {
                            // d.resolve(result.data, { 
                            //     totalCount: result.totalCount,
                            //     summary: result.summary
                            // });
                            // Das ist einen pizdetsen...
                            d.resolve($.map(result, function(e, i){
                                return Object.assign({"pk": e.pk}, e.fields)
                            }));
                        });
                    return d.promise();
                },
                insert: function(values){
                    console.log(values);
                    var d = $.Deferred();
                    d.resolve();
                    return d.promise();
                }
            });
            $("#gridContainer").dxDataGrid({
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                editing: {
                    mode: "form",
                    // allowUpdating: true,
                    // allowDeleting: true,
                    allowAdding: true
                }, 
                // dataSource: "/buh/api/mainboard",
                dataSource: gridDataSource,
                columns: [
                    {
                        dataField: "op_date",
                        dataType: "date",
                        caption: "Дата",
                        format:"shortDate"
                    },
                    {
                        dataField: "partner",
                        caption: "Контрагент",
                        lookup: {
                            dataSource: partners.store(),
                            displayExpr: "name",
                            valueExpr: "pk"
                        }
                    },
                    {
                        dataField: "op_balance",
                        dataType: "number",
                        format: {
                            type: "fixedPoint ",
                            precision: 2,
                        },
                        caption: "Сумма, ₽"
                    }, 
                    {
                        dataField: "op_expend",
                        caption: "Статья",
                        lookup: {
                            dataSource: expendids.store(),
                            displayExpr: "name",
                            valueExpr: "pk"
                        }
                    },
                    {
                        dataField: "op_type",
                        caption: "Вид",
                        lookup: {
                            dataSource: op_types,
                            displayExpr: "name",
                            valueExpr: "id"
                        }
                    },
                    {
                        dataField: "note",
                        caption: "Примечание"
                    }
                ]
            });
        });
    </script>
{% endblock head %}

{% block content %}
    <h1>Test, First</h1>
    <table class="table table-striped" id="gridContainer">
        <thead>
            <th>One</th>
            <th>Two</th>
            <th>Three</th>
        </thead>
        <tbody>
            {% for i in range(10) %}
                <tr>
                    <td>A{{i}}</td>
                    <td>B{{i}}</td>
                    <td>C{{i}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped" id="gridContainer1">
        <thead>
            <th>One</th>
            <th>Two</th>
            <th>Three</th>
        </thead>
        <tbody>
            {% for i in ololo %}
                <tr>
                    <td>{{ i.op_date }}</td>
                    <td>{{ i.op_balance }}</td>
                    <td>{{ i.partner.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}