{% extends "buh/layout.html" %}

{% block head %}

{% endblock head %}

{% block content %}
    <h1>Вход</h1>
        
    <div class="col-md-4 center-block well">
        <form action="{{url('login')}}" method="POST" class="">
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}

            {{ csrf_input }}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" class="form-control" name="username" id="id_username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" name="password" class="form-control" id="id_password" placeholder="Password">
            </div>
            <input type="submit" class="btn btn-default" value="Log in" />
        </form>
    </div>
{% endblock content %}